.conteiner-visualizar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
  text-align: center;
  padding: 1em 3em;
  box-sizing: border-box;
}

.conteiner {
  text-align: center;
}
.conteiner h3 {
  padding-bottom: 0.5em;
  border-bottom: 4px solid #000000;
  display: inline-block;
  font-size: 32px;
}
